Options -Indexes 
RewriteEngine on
ErrorDocument 404 /VideoNotes/index.php

RewriteRule ^login$ login.php [L,QSA]
RewriteRule ^logout$ ajax.php?pr=logout [L,QSA]

RewriteRule ^home$ index.php?pr=home [L,QSA]

RewriteRule ^add-user$ index.php?pr=add-user [L,QSA]

RewriteRule ^upload-video$ index.php?pr=upload-video [L,QSA]
RewriteRule ^upload-video-a$ ajax.php?pr=upload-video [L,QSA]
RewriteRule ^add-video-a$ ajax.php?pr=add-video [L,QSA]

RewriteRule ^get-videos-a$ ajax.php?pr=get-videos [L,QSA]